# Files to be ignored when using git
*.o
*.a
*.slxc
/*.csv
slprj/
/examples/*
!/examples/*.md
!/examples/src
!/examples/include
/*build*
/src/defines.h
/arm*
/bin/*
/lib/*
.vscode
log*.txt
/bb/

/products*/*
!/products*/.gitkeep
*.dSYM
.DS_Store

/MATLAB/mqtt_pub.m
/MATLAB/mqtt_sub.m
/MATLAB/simple_axis_3.slx
/MATLAB/simple_axis_data.m